<h1>Become a Member</h1>

<p>By becoming a member you can receive our newsletter and keep up with our work, you can also become a volunteer by <strong>checking the box</strong> at the end of the form.</p>

<p>By volunteering you might help us to do:</p>
<ul>

<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</li>

</ul>

<h2>Sign up!</h2>
<br>
<br>

<%= render 'form', volunteer: @volunteer %>
<br>
<br>
<strong>This link below should not be accessible for the public, missing user authentication!!!!!!!!!!!!</strong>
<br>
<br>
<%= link_to 'See all the vonlunteers', volunteers_path %>
