<p id="notice"><%= notice %></p>

<% if @volunteer.status == true %>

  <h2> Thanks for becoming a Volunteer, <%= @volunteer.first_name %>. We will be contacting you soon!</h2>

<%else%>

  <h2> Thanks for signing up with us, <%= @volunteer.first_name %>. </h2>

<%end%>
