<div class="right jumbotron">
  <h1>Better Transit Alliance</h1>

  <a class ="twitter-timeline" data-chrome="noheader nofooter noborders transparent"
  data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#2B7BB9"
  href="https://twitter.com/zugzugblubg/likes">Tweets Liked by @zugzugblubg
</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <%# link_to "Sign up as admin", signup_path, class:"btn btn-danger btn-sm" %>
</div>
